{% extends "navbar.html" %}
{% block navbar %}

<div class="container">
    {% for blog in all_blogs %}
    <div class="card m-5">
        <div class="card-content">
            <div class="content">
                <a class="title" href="{% url 'post_detail' blog.pk %}">
                    <h5>{{blog.title}}</h5>
                </a>
                <p>{{ blog.body|truncatewords:60 }}</p>
                <button class="button has-background-link-white is-pulled-right">
                    <a href="{% url 'post_detail' blog.pk %}">
                        Read more
                    </a>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
{% if is_paginated %}

<div class="container mb-5">
    <nav class="pagination" role="navigation" aria-label="pagination">

        {% if page_obj.has_previous %}
        <a class="pagination-previous is-active" title="This is the first page"
            href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="pagination-next is-active" title="This is the first page"
            href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}

        <button class="button is-link is-disabled">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </button>
    </nav>
</div>
{% endif %}
{% endblock navbar %}