{% extends "navbar.html" %}
{% block navbar %}
<section>
    <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose prose-blue ">
            <div class="flex flex-row justify-between text-red-600">
                <a class=" no-underline text-[#fffffe]" href="{% url 'updatepost' post.pk %}">Update Post</a>
                <a class=" no-underline text-[#fffffe]" href="{% url 'deletepost' post.pk %}">Delete Post</a>
            </div>
            <div class="w-full mx-auto">
                <h2 class="text-center text-[#fffffe] ">{{post.title}}</h2>
                <p class="text-left text-[#a7a9be] ">{{post.body}}</p>
                <p class="text-[#ff8906]">last updated : {{post.updated.date}}</p>
            </div>
        </div>

    </div>
</section>
{% endblock navbar %}