{% extends 'main.html' %}
{% block main %}
<nav class="navbar is-info has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'blog' %}">👋 <strong>Home</strong> </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="{% url 'newpost' %}">Add Blog
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block navbar %}
{% endblock navbar %}

{% endblock main %}